# Check if inventory already exists
- name: Check if inventory {{ inventory_name }} exists
  ansible.builtin.uri:
    url: "https://{{ aap_url }}/api/controller/v2/inventories?name={{ inventory_name | urlencode }}"
    method: GET
    return_content: true
    headers:
      Authorization: "Bearer {{ aap_token }}"
      Content-Type: "application/json"
    validate_certs: false
  register: check_inventory_res
  failed_when: check_inventory_res.status != 200
  no_log: true

# Create inventory
- name: Create inventory with {{ inventory_name }}
  ansible.builtin.uri:
    url: "https://{{ aap_url }}/api/controller/v2/inventories/"
    method: POST
    return_content: true
    body:
      name: "{{ inventory_name }}"
      organization: 1
    headers:
      Authorization: "Bearer {{ aap_token }}"
      Content-Type: "application/json"
    body_format: json
    validate_certs: false
  register: create_inventory_res
  failed_when: create_inventory_res.status != 201 and create_inventory_res.status != 200
  when: check_inventory_res.json.count == 0
  no_log: true

# Set variable for inventory_id (handles both existing and newly created inventory)
- name: Set variable for inventory_id
  ansible.builtin.set_fact:
    inventory_id: >-
      {{ check_inventory_res.json.results[0].id
         if check_inventory_res.json.count > 0
         else create_inventory_res['json']['id'] }}

# Check if group exists
- name: Check if group {{ group_name }} exists
  ansible.builtin.uri:
    url: "https://{{ aap_url }}/api/controller/v2/groups/?name={{ group_name | urlencode }}&inventory__name={{ inventory_name | urlencode }}"
    method: GET
    return_content: true
    headers:
      Authorization: "Bearer {{ aap_token }}"
      Content-Type: "application/json"
    validate_certs: false
  register: check_group_res
  failed_when: check_group_res.status != 200
  no_log: true

# Create group
- name: Create group with {{ group_name }}
  ansible.builtin.uri:
    url: "https://{{ aap_url }}/api/controller/v2/groups/"
    method: POST
    return_content: true
    body:
      name: "{{ group_name }}"
      inventory: "{{ inventory_id }}"
      variables: "{{ grp_vars }}"
    headers:
      Authorization: "Bearer {{ aap_token }}"
      Content-Type: "application/json"
    body_format: json
    validate_certs: false
  register: create_group_res
  failed_when: create_group_res.status != 201 and create_group_res.status != 200
  when: check_group_res.json.count == 0
  no_log: true

- name: Set variable for group_id (handles both existing and newly created group)
  ansible.builtin.set_fact:
    group_id: >-
      {{ check_group_res.json.results[0].id
         if check_group_res.json.count > 0
         else create_group_res['json']['id'] }}

# Check if each host in hostname_list exists
- name: Check if host {{ item.hostname }} exists
  ansible.builtin.uri:
    url: "https://{{ aap_url }}/api/controller/v2/hosts/?name={{ item.hostname | urlencode }}&inventory__name={{ inventory_name | urlencode }}"
    method: GET
    return_content: true
    headers:
      Authorization: "Bearer {{ aap_token }}"
      Content-Type: "application/json"
    validate_certs: false
  register: check_host_res
  loop: "{{ hostname_list }}"
  loop_control:
    label: "{{ item.hostname }}"
  no_log: true

# Create hosts (only for those that don't exist)
- name: Create all hosts in hostname_list
  ansible.builtin.uri:
    url: "https://{{ aap_url }}/api/controller/v2/inventories/{{ inventory_id }}/hosts/"
    method: POST
    return_content: true
    body:
      name: "{{ item.hostname }}"
      variables: "{{ item.variables }}"
    headers:
      Authorization: "Bearer {{ aap_token }}"
      Content-Type: "application/json"
    body_format: json
    validate_certs: false
  register: create_host_res
  loop: "{{ hostname_list }}"
  loop_control:
    index_var: idx
  when: check_host_res.results[idx].json.count == 0
  no_log: true

- name: Create host_id_list variable
  ansible.builtin.set_fact:
    host_id_list: []

- debug:
    var: item
  loop: "{{ create_host_res.results }}"

- name: Set variable for host_id_list (handles both existing and newly created hosts)
  ansible.builtin.set_fact:
    host_id_list: >-
      {{ host_id_list + [item['json']['id']] }}
  loop: "{{ create_host_res.results }}"
  when: create_host_res.results is defined

- name: Add existing host IDs from check_host_res to host_id_list
  ansible.builtin.set_fact:
    host_id_list: >-
      {{ host_id_list + [item['json']['results']['id']] }}
  loop: "{{ check_host_res.results }}"
  when: check_host_res.results is defined

# Check if hosts are inside the group already
- name: Check if hosts are inside the group already
  ansible.builtin.uri:
    url: "https://{{ aap_url }}/api/controller/v2/groups/{{ group_id }}/hosts/?id={{ item }}"
    method: GET
    return_content: true
    headers:
      Authorization: "Bearer {{ aap_token }}"
      Content-Type: "application/json"
    validate_certs: false
  register: check_host_in_grp_res
  loop: "{{ host_id_list }}"
  no_log: true

# Add all hosts to group
- name: Add all hosts to group
  ansible.builtin.uri:
    url: "https://{{ aap_url }}/api/controller/v2/groups/{{ group_id }}/hosts/"
    method: POST
    return_content: true
    body:
      id: "{{ host_id }}"
    headers:
      Authorization: "Bearer {{ aap_token }}"
      Content-Type: "application/json"
    body_format: json
    validate_certs: false
  register: add_host_to_grp_res
  loop: "{{ host_id_list }}"
  loop_control:
    index_var: idx
  when: host_id_list | length != 0
  failed_when: add_host_to_grp_res.status != 201 and add_host_to_grp_res.status != 200
  when: check_host_in_grp_res.results[idx].json.count == 0
  no_log: true
